<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Team 3 Job Application Frontend{% endblock %}</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="font-sans leading-relaxed m-0 p-5 bg-gray-100">
    <div class="max-w-3xl mx-auto bg-white p-10 rounded-lg shadow-lg">
        {% block content %}{% endblock %}
    </div>
</body>
</html>